The while Loop

In [2]:
#Print i as long as i is less than 6:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The break Statement

In [6]:
#Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

The continue Statement

In [9]:
#Continue to the next iteration if i is 3:

i = 0
while i < 6:
  i += 1 
  if i == 3:
    continue
  print(i)

1
2
4
5
6

The else Statement

In [13]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Python For Loops

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

Looping Through a String

In [19]:
for x in "banana":
  print(x)

b
a
n
a
n
a

The break Statement

In [23]:
#Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

apple
banana

In [25]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

The continue Statement

In [29]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

The range() Function

In [33]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [35]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

Else in For Loop

In [39]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [41]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

Nested Loops

In [45]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

The pass Statement

In [ ]:
for x in [0, 1, 2]:
  pass